### Parsing X data

This example is to help illustrate the structure of the response data

**Notes**:
- The code is extremely slow due to constant calls to `.apply()`
- The GraphQL response data is not consistent, the following examples may not work in all cases.

In [1]:
import pandas as pd
from twitter.scraper import Scraper

scraper = Scraper(
    cookies={
        'auth_token':...,
        'ct0':...,
    }
)

### Likes

In [2]:
likes = scraper.likes([33836629],count=100,limit=100)

df_likes = (
    pd.json_normalize(likes, record_path=['data','user','result','timeline_v2','timeline','instructions'])
    ['entries']
    .explode()
    .apply(pd.Series)
    ['content']
    .apply(pd.Series)
    .pipe(lambda df:df[df['__typename']!='TimelineTimelineCursor'])
    ['itemContent']
    .apply(pd.Series)
    ['tweet_results']
    .apply(pd.Series)
    ['result']
    .apply(pd.Series)
    .pipe(lambda df:df[df['__typename']!='TweetWithVisibilityResults'])
    ['legacy']
    .apply(pd.Series)
    .assign(created_at=lambda x:pd.to_datetime(x['created_at']))
    .sort_values('created_at', ascending=False)
    .reset_index(drop=True)
    [[
      'user_id_str',
      'id_str',
      'created_at',
      'bookmark_count',
      'favorite_count',
      'full_text',
      'possibly_sensitive',
      'quote_count',
      'reply_count',
      'retweet_count'
    ]]
)
df_likes

Likes: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.40s/it]
/tmp/ipykernel_11828/237363432.py:20: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  .assign(created_at=lambda x:pd.to_datetime(x['created_at']))

,user_id_str,id_str,created_at,bookmark_count,favorite_count,full_text,possibly_sensitive,quote_count,reply_count,retweet_count
0,1376951872356024325,1776320004465582331,2024-04-05 18:44:26+00:00,248,338,Schedule-Free Learning\nhttps://t.co/HEl6dOcT2...,False,10,13,56
1,3278906401,1776271459352228062,2024-04-05 15:31:32+00:00,4,74,We’ve teamed up with PayPal to offer MetaMask ...,NaN,0,6,3
2,4558314927,1776232714363871586,2024-04-05 12:57:34+00:00,29,309,"I like to think of myself as a researcher, but...",NaN,2,7,7
3,13235832,1776080884019700108,2024-04-05 02:54:15+00:00,40,932,Someone should make a leaderboard for how freq...,NaN,11,47,58
4,1703117848930099200,1776041561710837833,2024-04-05 00:18:00+00:00,93,311,"""Young woman with blonde hair wearing a backpa...",NaN,8,40,11
...,...,...,...,...,...,...,...,...,...,...
112,34792369,1740880412795379785,2023-12-29 23:40:09+00:00,10,377,Dive into the best of 2023 with Porch Potty on...,False,1,13,99
113,2329526714,1739958754219631031,2023-12-27 10:37:48+00:00,1078,20857,What happened in 1970? \n\nNixon signed the 19...,False,357,739,7573
114,5778712,1699446703857045540,2023-09-06 15:37:23+00:00,135,784,another way of thinking about this — much of m...,False,14,46,34
115,18570772,1642044121341919232,2023-04-01 06:00:00+00:00,580,11854,"As Beyoncé once said, “If you like it, then yo...",NaN,123,777,2321
116,29873662,1383616274693951494,2021-04-18 03:00:00+00:00,264,67730,Never. Ever. Buy a tech product based on the p...,NaN,513,1435,4066

### Tweet Details

In [3]:
tweets_details = scraper.tweets_details([1770164518758633590], count=100, limit=100)

df_tweets_details = (
    pd.json_normalize(tweets_details,record_path=['data','threaded_conversation_with_injections_v2','instructions'])
    ['entries']
    .dropna()
    .explode()
    .apply(pd.Series)
    ['content']
    .apply(pd.Series)
    ['items']
    .dropna()
    .explode()
    .apply(pd.Series)
    ['item']
    .apply(pd.Series)
    ['itemContent']
    .apply(pd.Series)
    .pipe(lambda df:df[df['__typename']!='TimelineTimelineCursor'])
    ['tweet_results']
    .apply(pd.Series)
    ['result']
    .apply(pd.Series)
    .pipe(lambda df:df[df['__typename']!='TweetWithVisibilityResults'])
    ['legacy']
    .apply(pd.Series)
    .pipe(lambda x: pd.concat([x, x['entities'].apply(pd.Series)],axis=1))
    .assign(created_at=lambda x:pd.to_datetime(x['created_at']))
    .sort_values('created_at', ascending=False)
    .reset_index(drop=True)
    .drop('entities',axis=1)
    [[
    'created_at',
    'id_str',
    'user_id_str',
    'full_text',
    'favorite_count',
    'urls',
    'hashtags',
    'user_mentions',
    ]]

)
df_tweets_details

TweetDetail: 100%|██████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:04<00:00,  4.06s/it]
/tmp/ipykernel_11828/4204966796.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  .assign(created_at=lambda x:pd.to_datetime(x['created_at']))

,created_at,id_str,user_id_str,full_text,favorite_count,urls,hashtags,user_mentions
0,2024-04-05 16:27:24+00:00,1776285521603363107,307810043,Integrate Advanced Image and Video Customizati...,0,[],"[{'indices': [105, 112], 'text': 'nodejs'}, {'...",[]
1,2024-04-05 16:27:24+00:00,1776285521569865904,307810043,Integrate Advanced Image and Video Customizati...,0,[],"[{'indices': [105, 112], 'text': 'nodejs'}, {'...",[]
2,2024-04-05 16:27:24+00:00,1776285521569865904,307810043,Integrate Advanced Image and Video Customizati...,0,[],"[{'indices': [105, 112], 'text': 'nodejs'}, {'...",[]
3,2024-04-05 16:27:24+00:00,1776285521603363107,307810043,Integrate Advanced Image and Video Customizati...,0,[],"[{'indices': [105, 112], 'text': 'nodejs'}, {'...",[]
4,2024-04-04 18:39:56+00:00,1775956485324849319,1594005431164321793,Embark on a magical morning adventure with eve...,85,[],[],[]
5,2024-04-01 17:24:10+00:00,1774850254468436277,1773621435199586304,@karpathy @__tinygrad__ @realGeorgeHotz Recent...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
6,2024-04-01 02:46:28+00:00,1774629375121539126,1371119512313950210,@karpathy @__tinygrad__ @realGeorgeHotz yeah I...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
7,2024-03-31 00:20:12+00:00,1774230175238197456,1316295394146410497,@karpathy @__tinygrad__ @realGeorgeHotz Colab ...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
8,2024-03-29 23:47:06+00:00,1773859460139855938,911238967030403073,@karpathy @__tinygrad__ @realGeorgeHotz I was ...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
9,2024-03-29 01:23:42+00:00,1773521382187717067,1231466530375970816,@karpathy @__tinygrad__ @realGeorgeHotz 👀,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
10,2024-03-25 13:33:50+00:00,1772255574006153365,1635022673167122433,@karpathy @__tinygrad__ @realGeorgeHotz Hi! I ...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
11,2024-03-24 13:01:04+00:00,1771884942517059691,16598957,@karpathy @__tinygrad__ @realGeorgeHotz What’s...,3,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
12,2024-03-21 16:41:59+00:00,1770853370577735863,3236488643,@karpathy @__tinygrad__ @realGeorgeHotz Now th...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
13,2024-03-21 10:31:30+00:00,1770760137063494060,120717378,@karpathy @__tinygrad__ @realGeorgeHotz It wou...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
14,2024-03-20 20:47:15+00:00,1770552707197313391,1478897931876921345,@karpathy @__tinygrad__ @realGeorgeHotz Geohot...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
15,2024-03-20 15:29:54+00:00,1770472842561278055,1745002150818639872,@karpathy @__tinygrad__ @realGeorgeHotz cancel...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
16,2024-03-20 15:13:00+00:00,1770468590254170338,1728044152389079040,@karpathy @__tinygrad__ @realGeorgeHotz All I ...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
17,2024-03-20 13:42:26+00:00,1770445800826404995,1435107115,@karpathy @__tinygrad__ @realGeorgeHotz Maybe ...,3,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
18,2024-03-20 12:01:00+00:00,1770420272707056005,228920764,@karpathy @__tinygrad__ @realGeorgeHotz Is Gho...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
19,2024-03-20 11:48:41+00:00,1770417174982582519,1698500379086872576,@karpathy @__tinygrad__ @realGeorgeHotz I wond...,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
20,2024-03-20 07:46:32+00:00,1770356232395891120,1324369511710154754,@karpathy @__tinygrad__ @realGeorgeHotz Andrej...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
21,2024-03-20 07:41:46+00:00,1770355035672662490,1203777178124591104,@karpathy @__tinygrad__ @realGeorgeHotz go geo...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
22,2024-03-20 05:04:40+00:00,1770315499777212577,3062411848,@karpathy @__tinygrad__ @realGeorgeHotz make a...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
23,2024-03-20 04:21:56+00:00,1770304744273383690,89958280,@karpathy @__tinygrad__ @realGeorgeHotz @readw...,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
24,2024-03-20 03:27:07+00:00,1770290947886068010,1245941997497704450,@karpathy @__tinygrad__ @realGeorgeHotz based ...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
25,2024-03-20 03:11:18+00:00,1770286970259833004,1610077781945159681,@karpathy @__tinygrad__ @realGeorgeHotz he's a...,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
26,2024-03-20 02:49:20+00:00,1770281440988508544,82467998,@karpathy @__tinygrad__ @realGeorgeHotz @abaca...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
27,2024-03-20 02:38:31+00:00,1770278719942168712,1724580443004215296,@karpathy @__tinygrad__ @realGeorgeHotz I love...,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
28,2024-03-20 00:41:02+00:00,1770249155031547925,1765646589794607104,@karpathy @__tinygrad__ @realGeorgeHotz I now ...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
29,2024-03-20 00:01:19+00:00,1770239159703122342,246453725,@karpathy @__tinygrad__ @realGeorgeHotz woo An...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
30,2024-03-19 21:45:05+00:00,1770204873331470581,269968418,@karpathy @__tinygrad__ @realGeorgeHotz 🙏,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
31,2024-03-19 20:42:21+00:00,1770189088395538880,1263378123808075776,@karpathy @__tinygrad__ @realGeorgeHotz Would ...,4,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
32,2024-03-19 20:28:11+00:00,1770185522566070672,1051571484466900992,@karpathy @__tinygrad__ @realGeorgeHotz mainst...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
33,2024-03-19 20:14:52+00:00,1770182169098416353,1283700032512770048,@karpathy @__tinygrad__ @realGeorgeHotz He mak...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
34,2024-03-19 19:38:05+00:00,1770172912655339733,1195245650746626048,@karpathy @__tinygrad__ @realGeorgeHotz karpat...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
35,2024-03-19 19:33:41+00:00,1770171804616642889,1187420166373687297,@karpathy @__tinygrad__ @realGeorgeHotz Noted,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
36,2024-03-19 19:30:45+00:00,1770171066834387361,1512519426679218185,@karpathy @__tinygrad__ @realGeorgeHotz Nothin...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
37,2024-03-19 19:18:12+00:00,1770167908858994796,1290932959084675073,@karpathy @__tinygrad__ @realGeorgeHotz A true...,2,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
38,2024-03-19 19:17:56+00:00,1770167843704721676,23503850,@karpathy @__tinygrad__ @realGeorgeHotz watchi...,17,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
39,2024-03-19 19:17:24+00:00,1770167709470241108,996745767384698885,@karpathy @__tinygrad__ @realGeorgeHotz Andrej...,2,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
40,2024-03-19 19:14:55+00:00,1770167084829299080,1689409906594463744,@karpathy @__tinygrad__ @realGeorgeHotz image ...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
41,2024-03-19 19:14:09+00:00,1770166890117153088,1041076799386648576,@karpathy @__tinygrad__ @realGeorgeHotz Taps s...,0,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
42,2024-03-19 19:13:43+00:00,1770166781233266825,4483798048,@karpathy @__tinygrad__ @realGeorgeHotz Andrej...,12,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
43,2024-03-19 19:13:17+00:00,1770166673066058195,33836629,@hiberfile_sys @__tinygrad__ @realGeorgeHotz l...,170,[],[],"[{'id_str': '7780132', 'name': 'Charles Smith'..."
44,2024-03-19 19:11:28+00:00,1770166216608321744,7780132,@karpathy @__tinygrad__ @realGeorgeHotz I was ...,80,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
45,2024-03-19 19:11:01+00:00,1770166100648423619,1488855033479376902,@karpathy @__tinygrad__ @realGeorgeHotz that’s...,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
46,2024-03-19 19:09:56+00:00,1770165830195548452,1963466798,@karpathy @__tinygrad__ @realGeorgeHotz I coul...,122,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
47,2024-03-19 19:08:25+00:00,1770165447360451043,1017486609707667456,@karpathy @__tinygrad__ @realGeorgeHotz this b...,10,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
48,2024-03-19 19:08:12+00:00,1770165394285724112,1674187388825006082,@karpathy @realGeorgeHotz Thanks!\n\nYea it's ...,288,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
49,2024-03-19 19:07:06+00:00,1770165118061408280,6470462,@karpathy @__tinygrad__ @realGeorgeHotz You sh...,22,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
50,2024-03-19 19:06:54+00:00,1770165065158717946,1308474693339447296,@karpathy @__tinygrad__ @realGeorgeHotz geohot...,72,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
51,2024-03-19 19:06:18+00:00,1770164915778605265,1518031440302284802,@karpathy @__tinygrad__ @realGeorgeHotz Has an...,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
52,2024-03-19 19:06:06+00:00,1770164864217948525,1695180583695949824,@karpathy @__tinygrad__ @realGeorgeHotz Who’s ...,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."
53,2024-03-19 19:04:54+00:00,1770164561930273009,24418897,@karpathy @__tinygrad__ @realGeorgeHotz 👀,1,[],[],"[{'id_str': '33836629', 'name': 'Andrej Karpat..."

### Favoriters

In [4]:
favoriters = scraper.favoriters([1770164518758633590], count=100, limit=100)

df_favoriters = (
    pd.json_normalize(favoriters,record_path=['data','favoriters_timeline','timeline', 'instructions'])
    ['entries']
    .explode()
    .apply(pd.Series)
    ['content']
    .apply(pd.Series)
    .pipe(lambda df:df[df['__typename']!='TimelineTimelineCursor'])
    ['itemContent']
    .apply(pd.Series)
    ['user_results']
    .apply(pd.Series)
    ['result']
    .apply(pd.Series)
    .pipe(lambda x: pd.concat([x[['rest_id']],x['legacy'].apply(pd.Series)],axis=1))
    .dropna(subset='created_at')
    .assign(created_at=lambda x:pd.to_datetime(x['created_at']))
    .sort_values('created_at', ascending=False)
    .reset_index(drop=True)
    [[
      'rest_id',
      'created_at',
      'screen_name',
      'location',
      'followers_count',
      'statuses_count',
      'favourites_count',
      'media_count',
      'statuses_count'
    ]]
)
df_favoriters

Favoriters: 100%|███████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.22s/it]
/tmp/ipykernel_11828/1064589959.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  .assign(created_at=lambda x:pd.to_datetime(x['created_at']))

,rest_id,created_at,screen_name,location,followers_count,statuses_count,favourites_count,media_count,statuses_count
0,1774149870552580096,2024-03-30 19:01:21+00:00,k_weissgerber,,4.0,0.0,18.0,0.0,0.0
1,1772830183797440513,2024-03-27 03:37:25+00:00,kategerrald,,32.0,173.0,408.0,0.0,173.0
2,1772286724577837056,2024-03-25 15:37:39+00:00,DaringDott89944,,0.0,1.0,56.0,0.0,1.0
3,1771785767729389568,2024-03-24 06:27:00+00:00,ImeranceL33140,,2.0,1.0,60.0,0.0,1.0
4,1771782246837678080,2024-03-24 06:13:01+00:00,UsHarper77813,,2.0,1.0,66.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
163,15040790,2008-06-07 19:23:56+00:00,ssaroha,"San Jose, CA",80.0,599.0,1777.0,6.0,599.0
164,14578396,2008-04-29 01:12:13+00:00,tim_waggoner,Planet Earth,495.0,332.0,337.0,16.0,332.0
165,6452692,2007-05-30 20:13:53+00:00,goodwintercrop,,338.0,972.0,3874.0,48.0,972.0
166,5141381,2007-04-18 17:46:19+00:00,hangel,"Medellin, Colombia",493.0,9853.0,16483.0,669.0,9853.0
167,71283,2006-12-15 17:45:30+00:00,mkamp,"Frankfurt, Germany",451.0,1181.0,10758.0,17.0,1181.0